<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <h4>{{ postTitle }} </h4>
  <h4 style="text-align:right">{{ created_at | date: 'short'}}</h4>
  <h6> {{ postContent }} </h6>
  <button class="btn btn-success" (click)="onLoveClicked()" >Love it!</button>
  <button class="btn btn-danger" (click)="onDislikeClicked()">Don't love it!</button>
</li>