<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My posts</h2>
       <ul class="list-group">
         <app-post-list-item-component *ngFor="let post of posts"
                      [postTitle]="post.postListTitle"
                      [postContent]="post.postListContent"></app-post-list-item-component>
      </ul> 
    </div>
  </div>
</div>
